<h1>Sửa lớp</h1>


<form action="/add" method="POST">
    ID: <input type="text" name="name" value="<%= lop.id %>"><br>
    Name: <input type="text" name="name" value="<%= lop.name %>"><br>
    Number Student: <input type="number" name="numberStudent" value="<%= lop.numberStudent %>"><br>
    <button type="submit">Sửa lớp</button>
</form>