<h1>Thêm lớp</h1>


<form action="/add" method="POST">
    Name: <input type="text" name="name"><br>
    Number Student: <input type="number" name="numberStudent"><br>
    <button type="submit">Thêm lớp</button>
</form>